.visualization{
	position: absolute;
}


#header{
	height: 15%;
	background-color: #07263b;
	padding: 3%;
}
#header h1{
	margin:0;
	color: #8AF3FF;
}
.modal {
  position: fixed;
}

.modal-content{
	min-width: 100%;
	min-height: 100%;
  	padding: 0px;
}

.highcharts-title .tspan:nth-child(2){
	font-weight: bold;
}

#pieChartModal{
  padding-right: 0px !important;
	overflow: scroll;
}
