.modal-content {
    justify-content: space-between;
}

body > div:first-child {
    grid-area: header;
}

#graph {
    grid-area: graph;
}

#pieChartModal {
    grid-area: modal;
}

/* ZOOM CONTROL BUTTONS */
.control-wrapper {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.control-wrapper button {
    margin: 5px;
    padding: 10px 10px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    background-color: rgb(255, 255, 255);
}
.control-wrapper button:active{
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.control-wrapper button:active img {
    opacity: 1;
}

.control-wrapper button img {
    width: 20px;
    opacity: 0.8;
}

.control-wrapper button:focus {
    background-color: rgb(255, 255, 255);
}
  
/* ZOOM CONTROL BUTTONS END */

/* Side pop-up */
@media only screen and (min-width: 1024px) {
    :root{
        --popup-width: 36vw;
    }

    .modal-backdrop {
        display: none;
    }

    body.modal-open {
        place-items: stretch;
        height: 100vh;
        display: grid;
        grid-template:
            " header                header"
            " modal                 graph"
            / var(--popup-width)    auto;
    }

    body.modal-open #graph,
    body.modal-open #pieChartModal {
        position: static;
        height: calc(100vh - 64px);
    }
    body #pieChartModal {
        max-height: none;
        margin: 0;
        height: auto;
        width: var(--popup-width);
    }
}